@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
    
}

:root{
    --green : #197f5b;
    --bone : #F9F5F2;
    --yellow : #EF9919;
    --black : #403e40;
    --white : #FFFFFF;
}

.nav-bar{
    background-color: var(--green);
    position: relative;
    top: 0;
    right: 0;
    height: 4rem;
    z-index: 1;
}

.nav-img{
    width: 2rem;
}

.nav-label{
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.nav-input{
    visibility: hidden;
}
.nav-menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: var(--green);
    clip-path: circle(0% at center);
    transition: clip-path 1s  ease-in-out;
    opacity: 1;
    z-index: 1;
    -webkit-transition: clip-path 1s  ease-in-out;
    -moz-transition: clip-path 1s  ease-in-out;
    -ms-transition: clip-path 1s  ease-in-out;
    -o-transition: clip-path 1s  ease-in-out;
    
}

.nav-item{
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.nav-input:checked + .nav-menu {
    clip-path: circle(100% at center);
    opacity: 1;
} 


.contenedor-main{
    height: 40rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    padding-top: 2rem;
    align-items: center; 
    position: relative;
   
}
.pentagono{
    background-color: var(--green);
    height: 34rem; 
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.pentagono::after{
    content: ""; 
    position: absolute; 
    width: 100%;
    height: 0;
    top: 34rem; /*cambiar para responsive*/
    border-top: 6rem solid var(--green); 
    border-left: 3.5rem solid #fff; 
    border-right: 3.5rem solid #fff;
    max-width: calc(100% - 7rem); 
    z-index: -1;
}




.section-item-uno{
    color: var(--bone);
    margin-top: 1.5rem;
    font-size: 32px;
    text-align: center;
    order: 3;
    font-weight: 600;
    padding: 0 1rem;

}
.section-item-uno>span{
    color: var(--yellow);
    font-weight: 600;
}
.section-item-dos{
    color: var(--bone);
    font-size: 16px;
    text-align: center;
    order: 2;
}

.contenedor-foto{
    position: relative;
    order: 4;
}

.img-perfil{
    width: 16rem;
    height: 20rem;
    background-image: url("../images/Logos-ImaÌgenes/myself.jpg");
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    background-size: cover;
}

.perfil-p{
    position: absolute;
    background-color: var(--bone);
    width: 9rem;
    height: 4rem;
    border-radius: 2rem;
    color: var(--black);
    font-size: 16px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 var(--black);
}

.perfil-p>span{
    color: var(--yellow);
    font-weight: 600;
}

.div-p{
    width: 9rem;
    height: 4rem;
    background-color: var(--bone);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    opacity: 0.2;
}
.p-top{
    position: absolute;
    top: -2rem;
    left: -3rem;
}

.top{
    position: absolute;
    top: -1.5rem;
    left: -3rem;
}

.p-bot{
    position: absolute;
    bottom: 0.25rem;
    right: -3.5rem;
}

.bot{
    position: absolute;
    bottom: -0.15rem;
    right: -3.5rem;
}


.contenedor-icons{
    width: 13rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 1;
    padding: 1.5rem 0;
}

.contenedor-icons>div{
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-icons>div>img{
    width: 24px;
}

.contact-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bone);
    gap: 1vh;
    width: 90vw;
    height: 7rem;
    max-width: 33rem;
    
}

.contact-h2{
    text-align: center;
    font-size: 1rem;
    color: var(--black);
    font-weight: 500;
    
}

.contact-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}


::placeholder {
    color: rgb(187, 186, 186);
  }


  #placeholder{
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    width: 90%;
    height: 2rem;
    font-size: 12px;
    background-color: #ece4da;
    border: none;
    padding-left: 0.7rem;
    margin-left: 3%;
}

.button-content{
    margin: auto;
    text-decoration: none;
}

.btn{
    color: var(--white);
    background-color: var(--green);
    border: none;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    padding: 0 1.2rem;
    height: 1.7rem;
    font-size: 1rem;
    cursor: pointer;
    
}
#send-button{
    position: absolute;
    top: 1.6px;
    right: 1rem;
}

.aboutme{
    display: flex;
    flex-direction: column;
    margin: 4rem 2rem;
    gap: 1rem;
    max-width: 800px;

}

.aboutme-div{
    border-left: 0.2rem solid var(--green);
}

.aboutme-h2{
    font-weight: 600;
    color: var(--black);
    font-size: 2rem;
}

.aboutme-p{
    margin-left: 0.8rem;
    color: var(--black);
    font-size: 1.5rem;
    text-align: justify;
    max-width: 800px;
    
}

#download-button{
    height: 2.5rem;
    padding: 0.8rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.botton-icon{
    width: 20px;
}



.studies{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.studies-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.udep-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bone);
    padding: 2rem; /**/
    gap: 0.3rem;
    width: 15rem;
    height: 18rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    position: relative;
}

.academlo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bone);
    gap: 0.3rem;
    width: 15rem;
    height: 18rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    position: relative;
}

.udep{
    width: 8rem;
    margin-bottom: 0.5rem;
    position: relative;
    top: 0;
}

.academlo{
    margin-top: 1rem;
    width: 4rem;
    position: relative;
    top: 0;
}

.studies-h2{
    color: var(--black);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    
}

.div-h3{
    color: var(--black);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    top: 0;
    margin-top: 0.5rem;
}

.div-h4{
    color: var(--black);
    text-align: center;
    font-size: 0.7rem;
    position: absolute;
    top: 12rem;
    
}

.studies-p{
    color: var(--black);
    text-align: center;
    font-size: 0.8rem;
    position: absolute;
    top: 14rem;
    padding: 0 2rem;
}

.habilities-grid{
    margin: auto;
    width: 85vw;
    margin-top: 4rem;
    margin-bottom: 4rem;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.habilities-h2{
    margin-bottom: 0.5rem;
    color: var(--black);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    
}

.habilities-h3{
    color: var(--black);
    font-size: 28px;
    font-weight: 600;
    
}

.habilities-h4{
    color: var(--green);
    font-size: 16px;
    font-weight: 600;
}

.contenedor-habilities{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.contenedor-barra{
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bone);
    border-radius: 2rem ;
    -webkit-border-radius: 2rem ;
    -moz-border-radius: 2rem ;
    -ms-border-radius: 2rem ;
    -o-border-radius: 2rem ;
}
.wd-bar{
    width: 80%;
    height: 100%;
    border-radius: 2rem;
    background-color: var(--green);
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.id-bar{
    width: 95%;
    height: 100%;
    border-radius: 2rem;
    background-color: var(--green);
}

.ux-bar{
    width: 90%;
    height: 100%;
    border-radius: 2rem;
    background-color: var(--green);
}

.fr-bar{
    width: 75%;
    height: 100%;
    border-radius: 2rem;
    background-color: var(--green);
}

/* progress{
    width: 100%;
    height: 1.5rem;
    max-width: 90vw;
} */
 /*EXPERIENCE ------ */
.experience-h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
    background-color: var(--bone);
    padding: 3rem;

}




 
/*---------------- CARRUSEL -------------*/

.carrusel-item{
    height: 22rem;
    position: relative;
}

.experience-content{
    background-color: var(--bone);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    gap: -2rem;
    height: 22rem;
}

.experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18rem;
    gap: 1rem;
}

.experience>img{
    width: 6rem;
    margin: auto;
}
 .experience>h2{
    font-size: 30px;
    padding: 0 3rem;
    color: var(--black);
    text-align: center;
 }
 .experience>h3{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--black);
    text-align: center;
    position: absolute;
    bottom: 5rem;
    right: 6.5rem;
 }


.flecha-atras{
    position: absolute;
    top: 35%;
    left: 0rem;

    width: 3rem;
    height: 3rem;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
}

.flecha-adelante{
    position: absolute;
    top: 35%;
    right: 0rem;

    width: 3rem;
    height: 3rem;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
}


@media screen and (min-width: 576px) {
    .carrusel-flechas>.a2, .carrusel-flechas>.a3, .carrusel-flechas>.a6, .carrusel-flechas>.a7 {
        visibility: hidden;
    }
  
}

@media screen and (min-width: 865px) {
    .carrusel-flechas>.a2, .carrusel-flechas>.a3, .carrusel-flechas>.a4, .carrusel-flechas>.a5 {
        visibility: hidden;
    }

    .carrusel-flechas>.a6, .carrusel-flechas>.a7{
        visibility: visible;
    }
}


@media screen and (min-width: 1154px) {
    .carrusel-flechas{
        visibility: hidden;
    }
    .carrusel-flechas>.a6, .carrusel-flechas>.a7{
        visibility: hidden;
    }
}


/*---------------- FIN CARRUSEL -------------*/

.portafolio-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    gap: 1rem;
}

.portafolio-h2{
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 2.5rem;
}

.portafolio-div{
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    position: relative;
    flex-wrap: wrap;
    margin: auto;
}

.portafolio-img1{
    width: 45%;
    
}

.portafolio-img2{
    width: 100%;
    margin-bottom: 1rem;

}

.portafolio-img3{
    width: 100%;
    margin-top: 10%;
    
}

.portafolio-img4{
    width: 45%;
    height: 25%;
    position: absolute;
    right: 1rem;
    top: 39%;
}


.contactme{
    margin-bottom: 4rem;
    padding: 0 10%;
}

.contactme-h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
}

.contactme-article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contactme-div{
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 300px;
    
}

.contactme-icon{
    background-color: var(--bone);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.contactme-icon>img{
    width: 3rem;
    height: 3rem;
}


.contactme-h3{
    color: var(--black);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0.5rem;
}
.contactme-h3>span{
    font-size: 1rem;
}

.footer-content{
    background-color: var(--green);
    color: var(--bone);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 15%;
}

.footer-h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.footer-h3{
    text-align: center;
    font-size: 21px;
}

.contact-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bone);
    gap: 1vh;
    height: 7rem;
    max-width: 40rem;
    padding: 4rem 0;
     
}


/* RESPONSIVIDAD */

@media screen and (min-width: 575px) {

    .pentagono{
        height: 51.5rem;
       
    }
    .pentagono::after{
        top: 51.5rem;
        border-top: 14rem solid var(--green); 
        border-left: 20vw solid #fff; 
        border-right: 20vw solid #fff;
        max-width: calc(100% - 40vw); 
    }

    .section-item-uno{
        font-size: 80px;
        order: 4;
        line-height: 6.5rem;
    }

    .section-item-dos{
        font-size: 35px;
        order: 3;
    }
    .contenedor-main{
        height: 67rem;
        padding-top: 0;
    }

    .img-perfil{
        height: 30rem;
        width: 22rem;
    }

    .contenedor-foto{
        order: 2;
    }
    
    .contenedor-icons{
        order: 1;
    }
    
    .p-top{
        position: absolute;
        top: 2rem;
        left: -6rem;
    }
    
    .top{
        position: absolute;
        top: 2.5rem; 
        left: -6rem;
    }
    
    .p-bot{
        position: absolute;
        bottom: 1.25rem;
        right: -5.5rem;
    }
    
    .bot{
        position: absolute;
        bottom: 0.85rem;
        right: -5.5rem;
    }

    .contenedor-icons{
        width: 21rem;
    }

    .contenedor-icons>div{
        width: 3rem;
        height: 3rem;
    }

    
    
    /*qwe*/
}



@media screen and (min-width: 956px) {
    
    .pentagono::after{
        
        border-top: 12rem solid var(--green);
        border-left: 17vw solid #fff; 
        border-right: 17vw solid #fff;
        max-width: calc(100% - 34vw); 
    }

    .aboutme{
        margin: auto;
        margin-top: 0rem;
        margin-bottom: 4rem;
        
    }

    .aboutme-h2{
        font-size: 50px;
    }

    #download-button{
        height: 3rem;
        width: 14rem;
        margin-top: 2rem;
        

    }
    .studies-h2{
        font-size: 50px;
        
    }
    
    .udep-container{
        width: 23rem;
        height: 24rem;
        border-radius: 1rem;
    }
    .academlo-container{
        width: 23rem;
        height: 24rem;
        border-radius: 1rem;
    }
    
    .udep{
        width: 14rem;
        margin-top: 2rem;
    }

    .academlo{
        width: 7rem;
        margin-top: 2rem;
    }
    .div-h4{
        top: 17rem;
        font-size: 16px;
    }
    .studies-p{
        top: 19rem;
        font-size: 16px;
    }

    .portafolio-img1{
        max-width: 20rem;
        max-height: 20rem;
    }

    .portafolio-h2{
        font-size: 50px;
    }

    .portafolio-img2{
        max-width: 30rem;
        max-height: 20rem;
    }

    .portafolio-img3{
        max-width: 30rem;
        max-height: 20rem;
        margin-top: 0;
        
    }

    .portafolio-img4{
        width: 20rem;
        height: 20rem;
        position: relative;
        right: 0;
        top: 0;
    }

    .portafolio-div{
        justify-content: center;
        padding: 0 3rem;
        flex-wrap: wrap;
        gap: 1rem;
        margin: auto;
        max-width: 1248px;
    }

    .habilities-h2{
        font-size: 50px;
        margin-bottom: 1rem;
    }
    
    .contactme-h2{
        font-size: 50px;
    }
    
    .contactme-article{
        gap: 4rem;
    }

    .footer-h2{
        font-size: 50px;
    }
    .footer-h3{
        margin-top: 1rem;
    }
   
}


@media screen and (min-width: 665px) {

    .pentagono{
        height: 48rem;
       
    }
    .pentagono::after{
        top: 48rem;

    }
}

@media screen and (min-width: 972px) {

    .pentagono{
        height: 41.5rem;
    }
    .pentagono::after{
        top: 41.5rem;
        border-top: 12rem solid var(--green);
        border-left: 30vw solid #fff; 
        border-right: 30vw solid #fff;
        max-width: calc(100% - 60vw); 
    }

    
}

@media screen and (min-width: 1248px) {
    .portafolio-div{
        justify-content: flex-start;
    }
}


@media screen and (min-width: 349px) {
    .aboutme-h2{
        margin-top: 4rem;
    }

}

@media screen and (max-width: 348px) {
    .img-perfil{
        height: 15rem;
        width: 12rem;
    }

    .section-item-dos{
        margin: 0 3rem;
    }
    .pentagono{
        height: 26.5rem;
    }
    .pentagono::after{
        top: 26.5rem; 
        border-top: 12rem solid var(--green);
        border-left: 30vw solid #fff; 
        border-right: 30vw solid #fff;
        max-width: calc(100% - 60vw); 
    } 

    .habilities-h2{
        margin-bottom: 1rem;
    }

    .habilities-h3{
        font-size: 20px;
    }

    .div-p{
        width: 8rem;
        height: 3rem;
    }

    .perfil-p{
        width: 8rem;
        height: 3rem;
        font-size: 14px;
    }

}

@media screen and (min-width: 768px) {
    .nav-label{
        visibility: hidden;
        
    }

    .nav-menu{
        position: relative;
        height: 4rem;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 2rem;
        gap: 2rem;
        clip-path: circle(100% at center);
        opacity: 1;

    }

    .nav-item{
        font-size: 1rem;
        color: white;
        font-weight: 400;
    }

    .nav-item:hover{
        color: var(--yellow);
        cursor: pointer;

    }


    .home{
        color: var(--yellow);
    }
}